<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#FFF"
    android:orientation="vertical">
    <LinearLayout
        android:id="@+id/LabelStylingLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#FFF">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="60dp"
            android:background="#f7f7f7"
            android:orientation="horizontal">
            <ImageButton
                android:src="@drawable/detail40"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/SampleListButton"
                android:background="@layout/ButtonBackgroundSelector" />
            <TextView
                android:text="Labeling Plygons"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/TitleTextView"
                android:textColor="@android:color/black"
                android:gravity="center"
                android:layout_weight="1"
                android:textStyle="bold" />
            <Button
                android:text="GO"
                android:textStyle="bold"
                android:textColor="@android:color/black"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="40dp"
                android:layout_height="match_parent"
                android:id="@+id/ExecuteButton"
                android:background="@layout/ButtonBackgroundSelector" />
        </LinearLayout>
        <View
            android:layout_width="match_parent"
            android:layout_height="2dp"
            android:background="#d4d2cf" />
    </LinearLayout>
    <FrameLayout
        android:id="@+id/MapContainerView"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_weight="1" />
</LinearLayout>